@import "./imports/_normalize.scss";
@import './_mixins.scss';
@import './_variables.scss';
* {
   box-sizing: border-box;
}
body {
   font-family: "Lato", sans-serif;
}
.padding-top{
   margin-top: 40px;
}
img {
   width: 100%;
   height: auto;
   display: block;
}
h1,
h2,
h3,
h4 {
   font-family: 'Electrolize', serif;
}
a {
   display: block;
   text-decoration: underline;
}
.bg-black {
   color: #fff;
   background: #000;
}
.menu{
   a{
      color: #FFF;
      transition: all .3s;
      &:hover {
         opacity: .6;
      }
   }
}

.nav {
   background: $Primary;
   position: fixed;
   width: 100%;
   z-index: 1;

   top: 0;
   left: 0;
   transition: all .3s;
   @include boxShadow();
   .mobile-button {
      @include tabletBreakpoint() {
         display: none;
      }
   }
   .tablet-menu {
      display: none;
      @include tabletBreakpoint() {
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
      }
   }
   .mobile-menu {
      @include tabletBreakpoint() {
         display: none;
      }
   }
      a{
         padding: .3rem .5rem;

      }
}
.nav_hidden {
   transform: translate(0, -50px);
}

.image_container {
   @include bgCover('../images/engine-bg.jpeg', 100vh);
   background-position: right;
   @include tabletBreakpoint(){
      background-attachment: fixed;
   }
   font-size: 3em;
}
.title_container {
   min-width: 300px;
   width: 50%;
   padding: 20px;
   @include boxShadow();
   h4 {
      font-size: 1.2rem;
      color: $Primary;
   }
}

.about_section {
   @include tabletBreakpoint(){
      height: 100vh;
   }
   a{
      color: #FFF;
   }
   .desktop_image{
      display: none;
      @include tabletBreakpoint(){
         display: initial;
         @include bgCover('../images/profile_desktop.jpg', 100vh);
      }
   }
}
.about_content {
   padding: 20px;
   text-align: center;
   background: #000;
   color: #fff;
   p {
      font-size: .9em;
   }
   @include tabletBreakpoint(){
      p{
         font-size: 1em;
         line-height: 2;
      }
   }
   .content_image{
      @include tabletBreakpoint() {
         display: none;
      }

   }
   h3 {
      margin-top: 1em;
      letter-spacing: 4px;
   }

   li {
      margin: 5px;
      border: 1px solid #FFF;
      letter-spacing: 2px;
      font-size: .8em;
      width: 100%;
      @include tabletBreakpoint(){
         width: 42%;
      }
      a{
         padding: .7rem 0;
         width: 100%;
         &:hover{
            background: #FFF;
            color: #000;
            transition: all .8s;
            opacity: 1;
         }
      }
   }
}
.work_header {
   padding: 40px;
   h3 {
      margin: 0;
      letter-spacing: 4px;
   }
}
.header_fixed {
   position: fixed;
   top: 0;
   width: 100%;
}
.link {
   margin: 10px;
   font-size: 20px;
   line-height: 20px;
   width: 50px;
   height: 50px;
   text-decoration: none;
}
.work_section {
   @include bgCover('../images/laptop-bg.jpeg', auto);
   @include tabletBreakpoint(){
      background-attachment: fixed;
   }
}

.work_card {
   margin: 20px;
   @include boxShadow();
}
.card_display {
   padding: 30px;

   a{
      color: #000;
   }

}
.card_description {
   color: #fff;
   background: $Primary;
   a{
      color: #FFF;
   }
}
.card_header {
   padding: 10px;
   p {
      margin: 0;
   }
}

.sand_gray {
   color: #000;
   background: $Sand_gray;
}
.footer{
   padding: 10px;
   letter-spacing: 4px;
   a{
      color: #000;
   }
   .footer_content{
      margin: 0 auto;
      a {
         display: block;
      }
   }
}
.codewars{
   margin: 5px auto;
   width: 30%;
   min-width: 300px;
}
